name: Real Time Streamming - Youtube Playlist

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

  workflow_dispatch:


jobs:
  RealTimeStreaming:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Real Time Streaming
        run: python .github/workflows/youtube.py


